:root {
   background-color: rgb(217, 230, 246);
   font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.orkut-font-color {
   color: #E8258E;
}

.orkut-button-bg {
   background-color: #E8258E;
   cursor: pointer;
}

.orkut-header-blue {
   position: fixed;
   background-color: rgba(38, 116, 233, 0.452);
   width: 100%;
   height: 4.5%;
   z-index: 1;


}

.orkut-link {
   text-decoration: none;
   color: rgb(89, 123, 192);
   font-weight: 500;
}

/*#cabecalho {
    background-color: rgba(38, 116, 233, 0.452);
    width: 100%;
    height: 5vh;
}*/

.logo {

   position: fixed;
   height: 41px;
   width: 132px;
   left: 4.4%;
   top: 0.1%;
   background-color: #fff;
   padding: 0%;

}

.itens-menu {

   position: absolute;
   z-index: 1;
   top: -10%;
   left: 15%;
   display: flex;

}

.itens-menu li {

   padding: 3%;
   list-style: none;

}

.itens-menu a {

   text-decoration: none;
   font-size: 18px;
   color: #4B4B4B;

}

.itens-menu a:hover {
   color: #ED2590;
}

.botao-buscar {

   position: fixed;
   width: 20%;
   height: 3.5%;
   left: 46%;
   top: 0.4%;
   background: #D9D9D9;
   border-radius: 10px;

}

.botao-buscar img {

   position: fixed;
   left: 46.6%;
   right: 14.63%;
   top: 1.3%;
   bottom: 14.63%;
   opacity: 0.5;

}

.text-pesquisar {

   position: fixed;
   left: 48.5%;
   right: 23.94%;
   top: 1%;
   bottom: 94.54%;

   font-family: 'SF Pro Display';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.2px;
   color: #4B4B4B;
   opacity: 0.5;

}

.login {
   position: fixed;
   width: 10%;
   height: 50%;
   left: 50%;
   top: 0%;

}

.caixa {
   position: absolute;
   left: 0%;
   right: 0%;
   top: 0%;
   bottom: 0%;
}

.seta {

   position: fixed;
   left: 78.5%;
   right: 42%;
   top: 0.7%;
   bottom: 33.33%;
}

.usuario p {

   /* Nome usuario */

   position: fixed;
   left: 73%;
   top: 1.1%;

   font-family: 'SF Pro Display';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;

   display: flex;
   align-items: center;
   text-align: center;
   color: #4B4B4B;
}

.foto img {

   /* Foto login*/

   box-sizing: border-box;
   position: fixed;
   left: 70.5%;
   top: 0.2%;
   width: 35px;
   height: 35px;
   border-radius: 50%;
   border: 1px solid #000000;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.orkut-link {
   text-decoration: none;
   color: rgb(89, 123, 192);
   font-weight: 500;
}

footer p {
   text-align: center;
   margin-top: 1%;
   margin-right: 25%;
   margin-bottom: 1%;
}



/*#cabecalho {
    background-color: rgba(38, 116, 233, 0.452);
    width: 100%;
    height: 5vh;
}*/